<title>Janken GAME!</title>
<a href="/logout">ログアウト</a>
<h1>
  Janken GAME!
</h1>


<p>

<h2>
  Hi <nobr sec:authentication="name"></nobr>
</h2>
</p>
<h2>
  <p th:if="${users}">
    エントリー
  <div th:each="users,stat:${users}">
    <tr>
      <ul>
        <li>[[${users.username}]]</li>
      </ul>
    </tr>
  </div>
  </p>

</h2>

<h2>
  <p th:if=" ${matches}">
    試合結果
  <div th:each="matches,stat:${matches}">
    <tr>
      <td>
        id:[[${matches.id}]]
        user1:[[${matches.user1}]]
        user2:[[${matches.user2}]]
        user1の手:[[${matches.user1Hand}]]
        user2の手:[[${matches.user2Hand}]]
      </td>
    </tr>
  </div>
  </p>
</h2>

</p>
